<div class="shadow-lg">
  <nav class="container mx-auto w-[90%] sm:w-3/4 lg:w-2/3 bg-white text-gray-600 text-bold font-sans py-3"
    x-data="{ open: false }" @click.outside="open = false">
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <div class="flex items-center font-bold">
        <img src="/static/logo.png" class="logo">
        <span class="ml-3">svetsplhu.cz</span>
      </div>

      <!-- Desktop Menu -->
      <ul class="hidden lg:flex space-x-4" x-data="{ currentPath: window.location.pathname }"
        @htmx:pushed-into-history.window="currentPath = window.location.pathname">
        <li><a href="/competition-list" hx-indicator="#spinner" hx-get="/competition-list" hx-target="#main-content" hx-swap="innerHTML"
            hx-push-url="true" class="hover:text-blue-600"
            :class="{ 'font-bold': currentPath === '/competition-list' }">VÝSLEDKY</a></li>
        <li><a href="/top-results" hx-indicator="#spinner" hx-get="/top-results" hx-target="#main-content" hx-swap="innerHTML"
            hx-push-url="true" class="hover:text-blue-600"
            :class="{ 'font-bold': currentPath === '/top-results' }">HISTORICKÝ ŽEBŘÍČEK</a></li>
            <li><a href="/nomination" hx-indicator="#spinner" hx-get="/nomination" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true"
              class="hover:text-blue-600" :class="{ 'font-bold': currentPath === '/nomination' }">NOMINACE</a></li>
        <li><a href="/contact" hx-indicator="#spinner" hx-get="/contact" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true"
            class="hover:text-blue-600" :class="{ 'font-bold': currentPath === '/contact' }">KONTAKT</a></li>
            <li><a href="/management" hx-indicator="#spinner" hx-get="/management" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true"
              class="hover:text-blue-600" :class="{ 'font-bold': currentPath === '/management' }">&#128273</a></li>
          </ul>

      <!-- Hamburger Menu -->
      <div class="lg:hidden text-3xl">
        <button @click="open = !open" class="cursor-pointer">
          ☰
        </button>
      </div>


    </div>
    <!-- Mobile Menu -->
    <ul class="lg:hidden bg-white flex flex-col space-y-3 pt-5 w-full" x-show="open" x-transition @click="open = false"
      x-data="{ currentPath: window.location.pathname }"
      @htmx:pushed-into-history.window="currentPath = window.location.pathname">
      <li><a href="/competition-list" hx-indicator="#spinner" hx-get="/competition-list" hx-target="#main-content" hx-swap="innerHTML"
          hx-push-url="true" class="hover:text-blue-600"
          :class="{ 'font-bold': currentPath === '/competition-list'}">VÝSLEDKY</a></li>
      <li><a href="/top-results" hx-indicator="#spinner" hx-get="/top-results" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true"
          class="hover:text-blue-600" :class="{ 'font-bold': currentPath === '/top-results' }">HISTORICKÝ ŽEBŘÍČEK</a>
      </li>
      <li><a href="/nomination" hx-indicator="#spinner" hx-get="/nomination" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true"
        class="hover:text-blue-600" :class="{ 'font-bold': currentPath === '/nomination' }">NOMINACE</a></li>
      <li><a href="/contact" hx-indicator="#spinner" hx-get="/contact" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true"
          class="hover:text-blue-600" :class="{ 'font-bold': currentPath === '/contact' }">KONTAKT</a></li>
          <li><a href="/management" hx-indicator="#spinner" hx-get="/management" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true"
            class="hover:text-blue-600" :class="{ 'font-bold': currentPath === '/management' }">&#128273</a></li>
    </ul>




  </nav>
</div>