.divider {
    height: 1px;
    box-shadow: 0 0.5px 0 grey;
    border-bottom: 0.5px grey;
  }

.create-nomination-criteria-btn {
    margin-top: 2rem;
    height: 30px;
    display: flex;
    align-items: baseline;
}

.btn-label {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: .25em;
}

.remove-btn {
    border: 2px solid black
}

p-fileUpload {
    margin-top: 2.5rem;
}

.management-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 601px) {
    .competition-title {
        color: grey!important;
        font-size: 18px;
        font-family: 'Quicksand', sans-serif!important;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .competition-title {
        color: grey!important;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif!important;
    }
    
  }