<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISOS Svetsplhu</title>
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <header>
        <h1>ISOS Svetsplhu</h1>
        <nav>
            <a href="/competition-list" hx-get="/competition-list" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">VÝSLEDKY</a>
            <a href="/top-results" hx-get="/top-results" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">HISTORICKÝ ŽEBŘÍČEK</a>
            <a href="/management" hx-get="/management" hx-target="#main-content" hx-swap="innerHTML" hx-push-url="true">ADMINISTRACE</a>
        </nav>
    </header>
    <main id="main-content">
        <!-- This dynamically includes the partial template specified by "contentTemplate" -->
        {{ if eq .contentTemplate "competition-list.html" }}
            {{ template "competition-list.html" . }}
        {{ end }}
        {{ if eq .contentTemplate "top-results.html" }}
            {{ template "top-results.html" . }}
        {{ end }}
        {{ if eq .contentTemplate "management.html" }}
            {{ template "management.html" . }}
        {{ end }}
    </main>
</body>
</html>
