<p-dropdown styleClass="h1-dropdown" (onChange)="selectSeason($event)" [options]="seasons"></p-dropdown>
<div class="divider"></div>
<div class="mt-2">
  <div class="mt-1" *ngFor="let competition of competitions$ | async">
    <p-card [routerLink]="['/results/' + competition.id]">
      <div class="row ml-1">
        <div class="ui-g-8 competition-title">
          {{competition.name}}
        </div>
        <div class="ui-g-4 competition-title">
          {{ getDate(competition.date) }}
        </div>
      </div>
    </p-card>
  </div>
</div>