{{ define "competition-list.html" }}
<h2>VYSLEDKY</h2>

<select id="competition-type" name="competition-type"
          hx-get="/competitions" 
          hx-trigger="load, change" 
          hx-target="#competition-list">
          {{ range $index, $season := .Seasons }}
          <option value="{{ $season }}" {{ if eq $index 0 }}selected{{ end }}>Sezona {{ $season }}</option>
          {{ end }}
  
  </select>

  <div id="competition-list">
    <!-- Competition list will be dynamically loaded here -->
  </div>
{{ end }}