{{ define "contact.html" }}
<div class="flex justify-between border-b-1 border-gray-300">
  <div class="text:xl md:text-2xl text-gray-600 px-2 py-2">
    Kontakt
  </div>
</div>
<div class="text-gray-600 px-2 py-2">
  <h1 class="text:xl md:text-xl py-2">Vyvojář a provozovatel</h1>
  <p class="text:md md:text-md">Martin Šimon</p>
  <p class="text:md md:text-md">Pennerfeld 7, 6130 Schwaz, Rakousko</p>
  <p class="text:md md:text-md">martin@simononline.eu</p>
  <a class="text:md md:text-md text-blue-600" href = "http://simononline.eu">www.simononline.eu</a>
  <p class="text:md md:text-md py-2">Upozorňuji, že jako vývojář a provozovatel této webové aplikace nezodpovídám za obsah zveřejněných výsledků. 
    Odpovědnost za obsah nesou výhradně správci portálu svetsplhu.cz, kteří výsledky zveřejňují.</p>
</div>
{{ end }}