<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISOS Svetsplhu</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    
</head>
<body>
    <header>
        {{ template "menu.html" . }}
    </header>
    <main id="main-content">
        <!-- This dynamically includes the partial template specified by "contentTemplate" -->
        {{ if eq .contentTemplate "competition-list.html" }}
            {{ template "competition-list.html" . }}
        {{ end }}
        {{ if eq .contentTemplate "top-results.html" }}
            {{ template "top-results.html" . }}
        {{ end }}
        {{ if eq .contentTemplate "management.html" }}
            {{ template "management.html" . }}
        {{ end }}
    </main>
</body>
</html>
