<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">

    <title>svetsplhu.cz - Výsledky</title>
    <script src="./static/js/alpine.js"></script>
    <script src="./static/js/tailwind.js"></script>
    <script src="./static/js/htmx.js" defer></script>
    
</head>
<body>
    <header>
        {{ template "menu.html" . }}
    </header>
    <main id="main-content">
        <!-- This dynamically includes the partial template specified by "contentTemplate" -->
        {{ if eq .contentTemplate "competition-list.html" }}
            {{ template "competition-list.html" . }}
        {{ end }}
        {{ if eq .contentTemplate "top-results.html" }}
            {{ template "top-results.html" . }}
        {{ end }}
        {{ if eq .contentTemplate "management.html" }}
            {{ template "management.html" . }}
        {{ end }}
    </main>
</body>
</html>
