<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">

    <title>svetsplhu.cz - Výsledky</title>
    <script src="./static/js/alpine.js" defer></script>
    <link href="./static/css/output.css" rel="stylesheet">
    <script src="./static/js/htmx.js" defer></script>

</head>

<body>
    <header>
        {{ template "menu.html" . }}
    </header>
    <main id="main-content" class="container mx-auto w-[90%] sm:w-3/4 lg:w-2/3 py-5">
            <!-- This dynamically includes the partial template specified by "contentTemplate" -->
            {{ if eq .contentTemplate "competition-list.html" }}
            {{ template "competition-list.html" . }}
            {{ end }}
            {{ if eq .contentTemplate "top-results.html" }}
            {{ template "top-results.html" . }}
            {{ end }}
            {{ if eq .contentTemplate "management.html" }}
            {{ template "management.html" . }}
            {{ end }}
    </main>
</body>

</html>